<div class="general">
  <div class="img" style="margin-top: -50px">
    <div style="margin-top: 200px; margin-left: 50px">
      <span style="font-size: 50px; color: #6dd5ed">EN</span>
      <span style="font-size: 50px; color: #fff">CODE</span>
      <br />
      <h2 style="margin-top: 20px; margin-left: 150px">¡Bienvenido de nuevo!</h2>
      <br />
      <p style="margin-top: 10px">
        ¡Nos alegra verte de nuevo! Obtenga acceso a sus pedidos, lista de
        deseos y recomendaciones
      </p>
      <hr style="width: 670px" />
    </div>
  </div>
  <div class="formulario">
    <div class="row title">
      <div class="col-3">
        <h2 class="mb-3 mt-3">Seleccione el rol</h2>
      </div>
    </div>
    <div class="row lblpass">
      <div class="col-3">
        <div class="block">
          <div class="btn btn4" routerLink="admin" routerLinkActive="active">
            <h4>Administrador</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row lblpass">
      <div class="col-3">
        <div class="block">
          <div class="btn btn4" routerLink="empleado" routerLinkActive="active">
            <h4>Empleado</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row lblpass">
      <div class="col-3">
        <div class="block">
          <div class="btn btn4" routerLink="rrhh" routerLinkActive="active">
            <h4>RRHH</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row lblpass">
      <div class="col-3">
        <div class="block">
          <div class="btn btn4" routerLink="seguridad" routerLinkActive="active">
            <h4>Seguridad</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
