<div class="general">
  <div class="img" style="height: 170px; width: 550px">
    <div style="margin-top: 200px; margin-left: 10px">
      <h2>Bienvenido de nuevo</h2>
    </div>
  </div>
  <div class="formulario">
    <div class="row title">
      <div class="col-3">
        <h2 class="mb-3 mt-3">Log In</h2>
      </div>
    </div>
    <div class="row lbluser">
      <div class="col-3">
        <div class="mb-3 mt-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Usuario</label
          >
          <input
            type="email"
            class="form-control user"
            id="exampleFormControlInput1"
            placeholder="Ingrese su usuario..."
          />
        </div>
      </div>
    </div>
    <div class="row lblpass">
      <div class="col-3">
        <label for="inputPassword5" class="form-label">Contraseña</label>
        <input
          type="password"
          id="inputPassword5"
          class="form-control pass"
          placeholder="Ingrese su contraseña..."
          aria-describedby="passwordHelpBlock"
        />
        <button type="button" class="btn btn-outline-primary">Ingresar</button>
        <div id="passwordHelpBlock" class="form-text"></div>
      </div>
    </div>
  </div>
</div>
